*~
ebin/
deps/
log/
autosaves/
plt
.eunit/
doc/edoc/
apps/worker/doc/edoc/
apps/worker/doc/edoc.css
doc/users-guide/disco-users-guide.aux
doc/users-guide/disco-users-guide.fdb_latexmk
doc/users-guide/disco-users-guide.fls
doc/users-guide/disco-users-guide.log
doc/users-guide/disco-users-guide.out
doc/users-guide/disco-users-guide.toc
doc/users-guide/disco-users-guide.pdf
doc/users-guide/overview-eps-converted-to.pdf
integration-coverage/
.rebar
