%%-*- mode: erlang -*-
% documentation for rebar.config: https://github.com/basho/rebar/blob/master/rebar.config.sample

{sub_dirs, ["apps/worker"]}.

{erl_opts, [
            debug_info,
            warn_unused_vars,
%%            warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard,

            %% incompatible with tests.
            %%            warn_unused_import,

            {parse_transform, lager_transform}]}.

{require_otp_vsn, "R16B|17|18|19|20"}.

{xref_warnings, false}.

{clean_files, [
               ".eunit/",
               "ebin/",
               "doc/edoc/",
               "integration-coverage/"
              ]
}.

{eunit_opts, [verbose]}.

%%% enable code coverage reporting for tests
{cover_enabled, false}.

%% documentation for edoc options: http://www.erlang.org/doc/man/edoc.html
{edoc_opts, [
             %% read_source options
             {preprocess, true},               % use prepocessor to handle our exotic macro definitions in lagerd.erl
             {report_missing_types, true},     % issue warnings for missing types
             %% get_doc options
             {private, true},                  % also generate documentation of private functions
             %% run options
             {dir, "doc/edoc/"},               % define target directory
             {overview, "doc/overview.edoc"},  % the name of the overview-file
             {packages, false},                % do not use packages; subdirectories in src/ are for structuring only
             {title, "DisCo: Distributed "     % title for the overview page
              "framework for programming "
              "contests. Developer Docs"},
             % layout options
             {pretty_printer, erl_pp},         % pretty print types and specs
             {stylesheet_file, "doc/edoc.css"} % use our own stylesheet
            ]
}.

{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager", {branch, "1.2"}}},
  {jsx, "1\.4\..*", {git, "git://github.com/talentdeficit/jsx", "v1.4.2"}},

  %% for testing
  {proper, "1\.1", {git, "git://github.com/manopapad/proper", "1b773ee"}}, %"v1.1"}},
  {meck, "0.8.2", {git, "git://github.com/eproxus/meck.git", "dde7590"}}
 ]
}.
