%%-*- mode: erlang -*-
% documentation for rebar.config: https://github.com/basho/rebar/blob/master/rebar.config.sample

{erl_opts, [
            native,
            warn_unused_vars,
%%            warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_obsolete_guard]}.

{xref_warnings, false}.

{clean_files, [
               "ebin/"
              ]
}.
